<html> 
    <head> 
        <title>
            {% block allTitle %}
                SASTRE -
                {% block title %}
                {% endblock %}
            {% endblock %}
        </title> 
        {# Load the tag library #} 
        {% load bootstrap4 %}
 
        {# Load CSS and JavaScript #} 
        {% bootstrap_css %} 
        {% bootstrap_javascript jquery='full' %} 
 
        {# Display django.contrib.messages as Bootstrap alerts #} 
        {% bootstrap_messages %}
        
        {% block static %}
            {% load static %} 
            <link rel="stylesheet" href="{% static 'css/basesastre.css' %}"> 
        {% endblock %}
    </head> 
    <body>
        <nav class="navbar navbar-expand-lg navbar-light guindaColor">
            <a class="navbar-brand text-light fontFamily" href="{% if user.is_authenticated %} {% url 'bienvenida' %} {% else %} {% url 'login' %} {% endif %}">SASTRE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="{% if user.is_authenticated %} {% url 'bienvenida' %} {% else %} {% url 'login' %} {% endif %}">Inicio<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cuenta
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Opción 1</a>
                            <a class="dropdown-item" href="#">Opción 2</a>
                            {% if user.is_authenticated %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-light" href="{% if user.is_authenticated %} {% url 'crudInicio' %} {% else %} {% url 'login' %} {% endif %}">Administrar Perfiles<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="contentBody">
            <div class="content">
                <div class="text-center" style="margin: auto;">
                    {% block login %} <!-- Este bloque es para que la pagina de login lo sobreescriba -->
                        {% block notificaciones %} <!-- Este bloque es para mostrar en la parte de arriba del espacio de contenido las notificaciones de cualquier tipo -->
                            {% if not user.is_authenticated %}
                                <div class="alert alert-warning" role="alert">
                                    Tu cuenta no tiene acceso a esta pagina. Para continuar, inicia sesion con una cuenta con acceso. Favor de ingresar.
                                </div>
                                <div class="row">
                                    {% block forceLogin %}
                                        Iniciar sesión
                                    {% endblock %}
                                </div>
                            {% else %}
                                {% block body %}
                                {% endblock %} 
                            {% endif %}
                        {% endblock %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body> 
</html>

