body {
	background: rgb(255,255,255); 
	background: radial-gradient(circle, rgba(255,255,255,1) 44%, rgba(196,225,255,1) 64%, rgba(4,93,185,1) 100%);  
} 
 
.limiter { 
	width: 85%; 
	margin: auto; 
} 
 
.padding20 { 
	padding-top: 20px; 
} 
 
.margin20down { 
	margin: auto auto 20px auto; 
} 
 
/* 
.card-header { 
	background: #393838; 
} 
/*