body {
	background: #dee1db;
} 
 
.limiter { 
	width: 85%; 
	height: 100%;
	margin: auto; 
	background: #FFF;
} 
 
.padding10 { 
	padding: 10px; 
} 
 
.margin10 { 
	margin: 10px; 
}

.guindaColor{
	color: black; !important;
	background-color: #682444;
}

.whiteText{
	color:#ffffff;
}

.btn-outline-success{
	border-color: #FFF;
	color: #FFF;
}
 
/* 
.card-header { 
	background: #393838; 
} 
/*