*.pyc
*~
*/__pycache__/
djangovenv
db.sqlite3
/static
.DS_Store

Tutorial/DjangoGirls/misitio/miblog/__pycache__/

Tutorial/DjangoGirls/misitio/miblog/migrations/__pycache__/

Tutorial/DjangoGirls/misitio/misitio/__pycache__/
