{% extends 'sastre/baseSastre.html' %}

{% block title %}
    Administrar Perfiles
{% endblock %}

{% load widget_tweaks %}

{% block body %}
    <h3 class="py-4 font-weight-bold">Creación de Alumno</h3>
    <div class="card-body text-left">
        {% block cardBody %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="username" class="font-weight-bold">No. Matricula</label>
                        {{ form.username | add_class:"form-control" }}
                    </div>
                    <div class="form-group col-6">
                        <label for="password" class="font-weight-bold">Contraseña</label>
                        {{ form.password | add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="nombre" class="font-weight-bold">Nombre(s)</label>
                        {{ form.nombre | add_class:"form-control" }}
                    </div>
                    <div class="form-group col-6">
                        <label for="apellido" class="font-weight-bold">Apellido</label>
                        {{ form.apellido | add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-4">
                        <label for="email" class="font-weight-bold">Correo Electrónico</label>
                        {{ form.email | add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-4">
                        <label for="edad" class="font-weight-bold">Edad</label>
                        {{ form.edad | add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-8">
                        <label for="direccion" class="font-weight-bold">Direccion</label>
                        {{ form.direccion | add_class:"form-control" }}
                    </div>
                    <div class="form-group col-4">
                        <label for="paisNacimiento" class="font-weight-bold">Pais de Nacimiento</label>
                        {{ form.paisNacimiento | add_class:"form-control mb-3" }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-2">
                        <label for="lada" class="font-weight-bold">Lada</label>
                        {{ form.lada | add_class:"form-control" }}
                    </div>
                    <div class="form-group col-10">
                        <label for="telefono" class="font-weight-bold">Telefono</label>
                        {{ form.telefono | add_class:"form-control mb-3" }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-4">
                        <label for="fechaNacimiento" class="font-weight-bold">Fecha de Nacimiento</label>
                        {{ form.fechaNacimiento | add_class:"form-control mb-3" }}
                    </div>
                    <div class="form-group col-3">
                        <label for="genero" class="font-weight-bold">Genero</label>
                        {{ form.genero | add_class:"form-control mb-3" }}
                    </div>
                    <div class="form-group col-5">
                        <label for="curp" class="font-weight-bold">Curp</label>
                        {{ form.curp | add_class:"form-control mb-3" }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="identificador" class="font-weight-bold">Identificador</label>
                        {{ form.identificador | add_class:"form-control mb-3" }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-2">
                        <label for="modalidad" class="font-weight-bold">Modalidad</label>
                        {{ form.modalidad | add_class:"form-control mb-3" }}
                    </div>
                    <div class="form-group col-5">
                        <label for="programa" class="font-weight-bold">Programa</label>
                        {{ form.programa | add_class:"form-control mb-3" }}
                    </div>
                    <div class="form-group col-5">
                        <label for="beca" class="font-weight-bold">Beca</label>
                        {{ form.beca | add_class:"form-control mb-3" }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-4">
                        <label for="ingles" class="font-weight-bold">Ingles</label>
                        {{ form.ingles | add_class:"form-control mb-3" }}
                    </div>
                    <div class="form-group col-4">
                        <label for="cedula" class="font-weight-bold">Cedula</label>
                        {{ form.cedula | add_class:"form-control mb-3" }}
                    </div>
                    <div class="form-group col-4">
                        <label for="calfEXADEP" class="font-weight-bold">Calificación EXADEP</label>
                        {{ form.calfEXADEP | add_class:"form-control mb-3" }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="calfGRE" class="font-weight-bold">Clificación GRE</label>
                        {{ form.calfGRE | add_class:"form-control mb-3" }}
                    </div>
                    <div class="form-group col-6">
                        <label for="promedio" class="font-weight-bold">Promedio</label>
                        {{ form.promedio | add_class:"form-control mb-3" }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="escuelaLic" class="font-weight-bold">Ecuela Licenciatura</label>
                        {{ form.escuelaLic | add_class:"form-control mb-3" }}
                    </div>
                    <div class="form-group col-6">
                        <label for="lugarLic" class="font-weight-bold">Lugar Licenciatura</label>
                        {{ form.lugarLic | add_class:"form-control mb-3" }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="carrera" class="font-weight-bold">Carrera</label>
                        {{ form.carrera | add_class:"form-control mb-3" }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="entrevista" class="font-weight-bold">Entrevista</label>
                        {{ form.entrevista | add_class:"form-control mb-3" }}
                    </div>
                </div>
                <button type="submit" class="btn btn-guinda">Aceptar</button>
                <a href="./" type="submit" class="btn btn-guinda">Cancelar</a>
            </form>
        {% endblock %}
    </div>
{% endblock %}