{% extends 'sastre/baseSastre.html' %}

{% block title %}
    Administrar Perfiles
{% endblock %}
 
{% block body %}
    <h5 class="card-header"> 
        <nav class="nav nav-pills nav-fill"> 
        <a class="nav-item nav-link active" href="#">Administrar Perfiles</a> 
        <a class="nav-item nav-link" href="#">Link</a> 
        <a class="nav-item nav-link" href="#">Link</a> 
        </nav> 
    </h5> 
    <div class="card-body">
        {% block cardBody %}
        {% endblock %}
    </div> 
{% endblock %}