{% extends 'sastre/baseSastre.html' %}

{% block title %}
    Recuperar contraseña
{% endblock %}

{% load widget_tweaks %}

{% block login %}
	<div style="width: 18rem; margin: auto; padding: 100px 0 100px;">
		{% if form.email.errors %}
            <div class="alert alert-danger" role="alert">
            	{% for error in form.email.errors %}
            		{{ error }}
            	{% endfor %}
            </div>
		{% endif %}
		<div class="card" style="width: 18rem;">
            <div class="card-body">
				<form action="" method="post">{% csrf_token %}
					{{ form.email.label_tag }}
						<p>{{ form.email | add_class:"form-control" }}</p> 
					<input type="submit" class="btn btn-guinda" value="Restaurar contraseña" />
				</form>
            </div>
        </div>
	</div>
{% endblock %}