{% extends 'sastre/baseSastre.html' %}

{% block title %}
    Recuperar contraseña
{% endblock %}

{% block login %}
	<div style="width: 18rem; margin: auto; padding: 100px 0 100px;">
		{% if form.email.errors %}
            <div class="alert alert-danger" role="alert">
                Ingresa un correo válido, por favor.
            </div>
		{% endif %}
		<div class="card" style="width: 18rem;">
            <div class="card-body">
				<form action="" method="post">{% csrf_token %}
					{{ form.email.label_tag }}
						<p>{{ form.email }}</p> 
					<input type="submit" class="btn btn-guinda" value="Reset password" />
				</form>
            </div>
        </div>
	</div>
{% endblock %}