<!DOCTYPE html>
<html>
<head>
	<title>Confirmacion restablecer contaseña</title>
	{# Cargamos la librería #}
	{% load bootstrap4 %}
	{# CSS Bootstrap #}
	{% bootstrap_css %}
</head>
<body>
	{% if validlink %}
        <p>Por favor ingresa (y confirma) tu nueva contraseña.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nueva contraseña:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirma la nueva contraseña:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Restablecer la contraseña fallo</h1>
        <p>El link para restablecer la contraseña es invalido. Solicita restablecer tu contraseña de nuevo.</p>
    {% endif %}
</body>
</html>