{% load static %}
<html>
    <head>
        <title>Bosque Prueba</title>
        {# Load the tag library #}
        {% load bootstrap4 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
        <link rel="stylesheet" href="{% static 'css/bosque.css' %}">
    </head>
    <body>
        <div class="limiter">
            <div class="card">
                {% block contenidoBosque %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>