{% extends 'tesis/baseInscripcionTesis.html' %}
{% block cardBody %}
	<h1> {{numPaso}} </h1>
	<form method="post" action="{% url 'tesisSimilares' %}">
		{% csrf_token %}
		<div class="row">
			<div class="col-2"></div>
			<div class="col-8">
				<label for="inlineFormInputGroup"><h5>Título de tesis</h5></label>
				<div class="input-group mb-3">
					<input type="text" name="tituloPropuesto" class="form-control" placeholder="{% if not tituloPropuesto %}Título propuesto para la tesis{% endif %}" aria-label="Recipient's username" aria-describedby="basic-addon2" value="{% if tituloPropuesto %}{{tituloPropuesto}}{% endif %}">
					<div class="input-group-append">
						<button class="btn btn-guinda" type="submit">Buscar</button>
					</div>
				</div>
			</div>
			<div class="col-2"></div>
		</div>
	</form>
	{% if numPaso == 2 %}
		<form class="mt-5 mx-3" method="post" action="{% url 'seleccionarDirector1' %}">
			{% csrf_token %}
			<div class="form-row">
				<div class="col-3"></div>
				<div class="col-4 form-group">
					<input hidden="" type="text" name="tituloPropuesto2" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" value="{{tituloPropuesto}}">
					<label for="inputDirector"><h5>Primer Director *</h5></label>
					<select id="director1Seleccionado" name="director1Seleccionado" class="form-control">
						<option value="0" selected="">Elije un profesor...</option>
						{% for s in top10 %}
							<option
								{% for valor in s %}
									{% if forloop.counter == 2 %}
										value="{{valor}}"
									{% endif %}
									{% if forloop.counter == 3 %}
										> {{valor}}
									{% endif %}
								{% endfor %}
							</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-2 align-self-center">
					<br>
					<div class="input-group-append">
						<button class="btn btn-guinda" type="submit">Agregar director</button>
					</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-3">
					<a class="btn btn-link" href="#" role="button">Mostrar todos los profesores</a>
				</div>
			</div> -->
		</form>
	</div>
	{% elif numPaso == 3 %}
	<form class="mt-5 mx-3" method="post" action="{% url 'seleccionarDirector2' %}">
		{% csrf_token %}
		<div class="form-row">
			<div class="col-3"></div>
			<div class="col-4 form-group">
				<input hidden="" type="text" name="tituloPropuesto3" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" value="{{tituloPropuesto}}">
				<input hidden="" type="text" name="numTesDir1" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" value="{{numTesisDirector1}}">
				<label for="inputDirector"><h5>Segundo Director</h5></label>
				<select id="director2Seleccionado" name="director2Seleccionado" class="form-control">
					<option value="0" selected="">Elije un profesor...</option>
					{% for s in top10 %}
						<option
							{% for valor in s %}
								{% if forloop.counter == 2 %}
									value="{{valor}}"
								{% endif %}
								{% if forloop.counter == 3 %}
									> {{valor}}
								{% endif %}
							{% endfor %}
						</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-2 align-self-center">
				<br>
				<div class="input-group-append">
					<button class="btn btn-guinda" type="submit">Agregar director</button>
				</div>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-3">
				<a class="btn btn-link" href="#" role="button">Mostrar todos los profesores</a>
			</div>
			<div class="col"></div>
			<div class="col-3">
				<form class="mt-5 mx-3" method="post" action="{% url 'omitirProfesor' %}">
					{% csrf_token %}
					<button type="submit" class="btn btn-link">Omitir segundo director</button>
				</form>
			</div>
		</div> -->
	</form>
	{% elif numPaso == 4 %}
	<h5 class="mt-4 mx-3">Directores</h5>
	<div class="row container ml-3">
		<div class="input-group my-3">
			<div class="input-group-append">
				<span class="input-group-text" id="basic-addon2">1</span>
			</div>
			<input disabled="" type="text" class="form-control" placeholder="{% if not profesor %}Director 1{% else %}{{profesor}}{% endif %}" aria-label="Director 1" aria-describedby="basic-addon2">
		</div>
		<div class="input-group mb-3">
			<div class="input-group-append">
				<span class="input-group-text" id="basic-addon2">2</span>
			</div>
			<input disabled="" type="text" class="form-control" placeholder="Director 2" aria-label="Director 2" aria-describedby="basic-addon2">
		</div>
	</div>
	<h5 class="mt-4 mx-3">Comite Tutorial</h5>
	<div class="row container mx-3">
		<div class="input-group my-3">
			<div class="input-group-append">
				<span class="input-group-text" id="basic-addon2">1</span>
			</div>
			<input type="text" class="form-control" placeholder="Integrante 1" aria-label="Integrante 1" aria-describedby="basic-addon2">
		</div>
		<div class="input-group mb-3">
			<div class="input-group-append">
				<span class="input-group-text" id="basic-addon2">2</span>
			</div>
			<input type="text" class="form-control" placeholder="Integrante 2" aria-label="Integrante 2" aria-describedby="basic-addon2">
		</div>
		<div class="input-group mb-3">
			<div class="input-group-append">
				<span class="input-group-text" id="basic-addon2">3</span>
			</div>
			<input type="text" class="form-control" placeholder="Integrante 3" aria-label="Integrante 3" aria-describedby="basic-addon2">
		</div>
		<div class="input-group mb-3">
			<div class="input-group-append">
				<span class="input-group-text" id="basic-addon2">4</span>
			</div>
			<input type="text" class="form-control" placeholder="Integrante 4" aria-label="Integrante 4" aria-describedby="basic-addon2">
		</div>
		<div class="input-group mb-3">
			<div class="input-group-append">
				<span class="input-group-text" id="basic-addon2">5</span>
			</div>
			<input type="text" class="form-control" placeholder="Integrante 5" aria-label="Integrante 5" aria-describedby="basic-addon2">
		</div>
	</div>
{% endif %}
{% endblock %}