{% extends 'baseEvaluaciones.html' %}
{% block bodyEvaluaciones %}
	<div class="card">
		<div class="card-body">
			<form>
				<h5>Contesta cuidadosamente el siguiente cuestionario</h5><br>

				{% if preguntas %}
					{% for pregunta in preguntas %}
						<div class="row">
							{{forloop.counter}}.	{{pregunta}}
						</div><br>
						{% if forloop.counter == 12%}
							<div class="form-group">
								<textarea class="form-control" id="textArea12" rows="3"></textarea>
							</div>
						{% else %}
							<div class="row">
								<div class="col-sm">
									<input type="radio" id="opcion1Preg{{forloop.counter}}" name="radio-stacked" required>
								</div>
								<div class="col-sm">
									<input type="radio" id="opcion2Preg{{forloop.counter}}" name="radio-stacked" required>
								</div>
								<div class="col-sm">
									<input type="radio" id="opcion3Preg{{forloop.counter}}" name="radio-stacked" required>
								</div>
								<div class="col-sm">
									<input type="radio" id="opcion4Preg{{forloop.counter}}" name="radio-stacked" required>
								</div>
								<div class="col-sm">
									<input type="radio" id="opcion5Preg{{forloop.counter}}" name="radio-stacked" required>
								</div>
							</div>
							<div class="row">
								<div class="col-sm">
									<p>1</p>
								</div>
								<div class="col-sm">
									<p>2</p>
								</div>
								<div class="col-sm">
									<p>3</p>
								</div>
								<div class="col-sm">
									<p>4</p>
								</div>
								<div class="col-sm">
									<p>5</p>
								</div>
							</div><br>
						{% endif %}
					{% endfor %}
				{% endif %}
			</form>
		</div>
	</div>
	<div>
		<br>
		<a href="{% url 'etiquetadoTexto' %}" class="btn btn-guinda">Terminar evalución</a><br><br>
	</div>
{% endblock %}